---
import Layout from "../layouts/page.astro";
import CitationSearch from "../components/react/CitationSearch";
---

<Layout title="" description="">
    <section id="tool">
        <div id="text-container">
            <h1 class="heading-1">MLA Format <br />Citation Generator</h1>
            <!-- <p class="subtitle">
                Accurate APA, MLA, Chicago, and Harvard citations, verified by
                experts, trusted by millions
            </p> -->
        </div>
        <CitationSearch client:only />
    </section>
</Layout>

<style>
    #tool {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #text-container {
        text-align: center;
        margin: 4rem 0;
    }
    /* #text-container .heading-1 {
        margin-bottom: 1rem;
    } */
    #text-container .subtitle {
        max-width: 44ch;
        color: var(--color-text-light);
    }
</style>
